In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
users = pd.read_csv('sandy_tweets_user_temp_1.csv', index_col=0)
users.head()

,tweet_id,user_id,followers_count,screen_name,time_stamp
0,260244125050363904,295902181,263,_CornelliaM,2012-10-22 05:00:09
1,260244177412042752,85314436,3377,synclaire_xoxo,2012-10-22 05:00:21
2,260244177105850368,239968255,753,OnlyAprilMoreno,2012-10-22 05:00:21
3,260244156729942016,703352862,114,KameronMcclain,2012-10-22 05:00:17
4,260244145694728192,581488152,393,lady_lauer15,2012-10-22 05:00:14

## SQL

In [ ]:
%load_ext sql

In [15]:
%sql DROP TABLE IF EXISTS users
%sql PERSIST users
%sql SELECT * FROM users LIMIT 5;

Done.
Done.

[(0, 260244125050363904, 295902181, 263, u'_CornelliaM', u'2012-10-22 05:00:09'),
 (1, 260244177412042752, 85314436, 3377, u'synclaire_xoxo', u'2012-10-22 05:00:21'),
 (2, 260244177105850368, 239968255, 753, u'OnlyAprilMoreno', u'2012-10-22 05:00:21'),
 (3, 260244156729942016, 703352862, 114, u'KameronMcclain', u'2012-10-22 05:00:17'),
 (4, 260244145694728192, 581488152, 393, u'lady_lauer15', u'2012-10-22 05:00:14')]

In [20]:
%%sql sqlite://
DROP VIEW IF EXISTS users_mindate;
CREATE VIEW  users_mindate AS
--For each user_id find min time_stamp
SELECT user_id, followers_count, MIN(time_stamp) FROM users
GROUP BY user_id;
SELECT * FROM users_mindate LIMIT 5 --Print first 5 rows

Done.
Done.
Done.

[(47, 12018, u'2012-10-23 13:38:09'),
 (66, 8067, u'2012-10-25 02:21:51'),
 (295, 112841, u'2012-11-01 22:49:54'),
 (364, 3867, u'2012-10-29 03:28:24'),
 (418, 84685, u'2012-10-23 17:09:07')]

In [29]:
%%sql sqlite://
--Select only the  for (camis, maxinspdate) combination. I.e. filter out all the other inspdates
DROP VIEW IF EXISTS users_filt;
CREATE VIEW  users_filt AS
SELECT a.user_id, a.followers_count, a.screen_name, a.time_stamp, b.followers_count, a.followers_count*1.0/b.followers_count ratio
  FROM users a --a is alias
   JOIN users_mindate b
   ON a.user_id = b.user_id;
SELECT * FROM users_filt LIMIT 5

Done.
Done.
Done.

[(295902181, 263, u'_CornelliaM', u'2012-10-22 05:00:09', 263, 1.0),
 (85314436, 3377, u'synclaire_xoxo', u'2012-10-22 05:00:21', 3377, 1.0),
 (239968255, 753, u'OnlyAprilMoreno', u'2012-10-22 05:00:21', 753, 1.0),
 (703352862, 114, u'KameronMcclain', u'2012-10-22 05:00:17', 114, 1.0),
 (581488152, 393, u'lady_lauer15', u'2012-10-22 05:00:14', 393, 1.0)]

In [39]:
%%sql sqlite://
SELECT * FROM users_filt 
WHERE followers_count>10000
ORDER BY ratio DESC LIMIT 100;

Done.

[(133318766, 20622, u'MikeTanier', u'2012-10-31 20:53:35', 20492, 1.0063439390981848),
 (133318766, 20621, u'MikeTanier', u'2012-10-29 20:42:49', 20492, 1.0062951395666602),
 (133318766, 20616, u'MikeTanier', u'2012-10-31 20:39:29', 20492, 1.0060511419090377),
 (133318766, 20616, u'MikeTanier', u'2012-10-31 22:31:22', 20492, 1.0060511419090377),
 (58945187, 29355, u'Russian_Starr', u'2012-10-30 20:50:01', 29179, 1.006031735151993),
 (58945187, 29355, u'Russian_Starr', u'2012-10-30 20:53:11', 29179, 1.006031735151993),
 (31253302, 10069, u'Lexiiness', u'2012-10-28 03:44:57', 10009, 1.0059946048556299),
 (31253302, 10068, u'Lexiiness', u'2012-10-26 14:48:11', 10009, 1.0058946947747027),
 (31253302, 10062, u'Lexiiness', u'2012-10-24 14:35:02', 10009, 1.0052952342891397),
 (31253302, 10062, u'Lexiiness', u'2012-10-24 14:36:08', 10009, 1.0052952342891397),
 (108576549, 20496, u'Jonathan1155', u'2012-10-29 12:02:06', 20409, 1.0042628252241659),
 (108576549, 20496, u'Jonathan1155', u'2012-10-29 15:03:08', 20409, 1.0042628252241659),
 (108576549, 20496, u'Jonathan1155', u'2012-10-29 15:04:40', 20409, 1.0042628252241659),
 (183068111, 12858, u'svetlyac', u'2012-10-23 18:50:36', 12804, 1.0042174320524837),
 (183068111, 12858, u'svetlyac', u'2012-10-23 18:51:28', 12804, 1.0042174320524837),
 (183068111, 12858, u'svetlyac', u'2012-10-23 18:53:54', 12804, 1.0042174320524837),
 (31253302, 10050, u'Lexiiness', u'2012-10-29 17:27:35', 10009, 1.0040963133180139),
 (29008271, 16214, u'ekoshak', u'2012-10-30 11:58:38', 16148, 1.0040871934604905),
 (183068111, 12855, u'svetlyac', u'2012-10-24 14:40:59', 12804, 1.00398313027179),
 (183068111, 12855, u'svetlyac', u'2012-10-24 14:42:02', 12804, 1.00398313027179),
 (517979020, 22495, u'iihustlee', u'2012-10-29 12:39:56', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-29 20:36:09', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-29 20:38:46', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-29 20:39:55', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 17:47:59', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 17:48:18', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 20:44:26', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 22:41:06', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 22:41:38', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 22:42:57', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 22:43:49', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 22:44:43', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 22:45:21', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 22:47:40', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 22:48:16', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 22:49:04', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-22 22:49:21', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-23 23:44:03', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-23 23:46:25', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-23 23:48:34', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 02:47:09', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 09:40:20', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 09:41:09', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 09:43:07', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 09:44:58', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 09:46:31', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 09:48:51', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 10:42:19', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 10:44:01', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 10:44:45', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 10:47:34', 22409, 1.0038377437636663),
 (517979020, 22495, u'iihustlee', u'2012-10-24 10:49:50', 22409, 1.0038377437636663),
 (517979020, 22494, u'iihustlee', u'2012-10-24 09:34:54', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-24 09:36:37', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-24 09:38:33', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-24 09:39:08', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-24 10:38:02', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-25 00:30:24', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-25 00:31:51', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-25 00:34:50', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-25 01:34:33', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-29 22:30:25', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-29 22:33:08', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-30 00:30:05', 22409, 1.003793118836182),
 (517979020, 22494, u'iihustlee', u'2012-10-30 01:35:59', 22409, 1.003793118836182),
 (24175437, 11151, u'Catamounts', u'2012-10-25 00:53:07', 11109, 1.003780718336484),
 (24175437, 11151, u'Catamounts', u'2012-10-25 16:50:41', 11109, 1.003780718336484),
 (517979020, 22493, u'iihustlee', u'2012-10-23 18:38:42', 22409, 1.0037484939086974),
 (517979020, 22493, u'iihustlee', u'2012-10-28 05:45:18', 22409, 1.0037484939086974),
 (517979020, 22493, u'iihustlee', u'2012-10-28 05:45:57', 22409, 1.0037484939086974),
 (517979020, 22493, u'iihustlee', u'2012-10-28 05:47:22', 22409, 1.0037484939086974),
 (517979020, 22493, u'iihustlee', u'2012-10-28 05:47:58', 22409, 1.0037484939086974),
 (517979020, 22493, u'iihustlee', u'2012-10-28 05:49:49', 22409, 1.0037484939086974),
 (517979020, 22493, u'iihustlee', u'2012-10-28 12:44:27', 22409, 1.0037484939086974),
 (517979020, 22492, u'iihustlee', u'2012-10-22 17:31:39', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 17:32:41', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 17:38:05', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 21:32:46', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:31:11', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:34:55', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:35:56', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:36:36', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:38:11', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:38:59', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:39:47', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-23 00:30:16', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-29 03:44:00', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 21:56:51', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 21:57:29', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 21:58:39', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:50:42', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:51:55', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:52:39', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:53:07', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:54:05', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:54:34', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:55:22', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:56:33', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:57:11', 22409, 1.003703868981213),
 (517979020, 22492, u'iihustlee', u'2012-10-22 22:57:28', 22409, 1.003703868981213)]